* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #383836;
}

nav {
  height: 56px;
}

header {
  margin-top: 59px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  padding: 20px;
}
main div {
  text-align: center;
  padding: 10px;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}